<h1>Cargue un arhivo in.txt</h1>
<p>A: Adelante, D: Girar en sentido manecillas, I: Girar en sentido contrario manecillas</p>

<p *ngIf="mensaje.length > 0">{{mensaje}}</p>

<table width="100%" border="0">
    <tr>
        <td width="50%">
            <input type="file" name="archivo" id="archivo" (change)="fileChanged($event)">
        </td>
        <td width="50%" rowspan="1">
          Cuadras límite: 10
          <plano #barrio></plano>
        </td>
    </tr>
    <!-- <tr>
        <td width="50%">
            <input type="file" name="archivo" id="archivo" (change)="fileChanged($event)">
        </td>
        <td width="50%" rowspan="3">
            <plano cuadras='{{cuadras}}' #barrio></plano>
        </td>
    </tr> -->
    <!-- <tr>
        <td width="50%">
            <timer>
            </timer>
        </td>
    </tr> -->
    <tr>
        <td width="50%">
            <!-- Tabla de instrucciones y resultados -->
            <div *ngIf="rutas">
                <h2>Rutas</h2>
                <ul>
                    <li *ngFor="let ruta of rutas">{{ruta}}</li>
                </ul>
            </div>
            <div *ngIf="respuestas">
                <h2>Reporte de Entregas</h2>
                <ul>
                    <li *ngFor="let resp of respuestas">{{resp}}</li>
                </ul>
            </div>
        </td>
    </tr>
</table>
