<div class="text-center">
  <img src="assets/eggtimer.gif" alt="Reloj" width="100px">
  <h1> {{ ticks | number: '1.0' }} </h1>
  <p>
    <button (click)="togglePause()"
      class="btn btn-danger">
      {{ buttonLabel }}
    </button>
  </p>
</div>
